@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');


/*Global*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #f4f4f4;
    margin: 0 auto;
    background-color: lightgray;
    line-height: 1.5;
}

img {
   max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    font-size: 3.75em;
}

li {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: .8em 1.2em;
    z-index: 99;
}

nav {
    background-color: black;  
}

nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    text-align: left;
    height: 100%;
    z-index: 99999;
    background-color: black;
    padding-top: .8em;
}

nav ul li {
    padding: 0 1.875em;
}

nav ul li a {
    display: block;
    padding: 1em 2em;
    width: 100%;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 11pt;
    color: whitesmoke;
}

nav li a:hover {
    color: #3d81ff;
}

.menu {
    width: 1.6em;
    margin-top: 40%;
}

.exit {
    width: 2em;
    padding-top: .5em;
}

.exit-btn {
    text-align: right;
    cursor: pointer;
}

.hide-mobile {
    display: none;
}

.logosmall {
    height: 1.75em;
}

.background-container {
    position: relative;
    display: flex;
    min-height: 95vh;
    margin: 0 auto;
    top: 5vh;
    padding: 0;
    text-align: center;
    background-color: black;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
}

.background h1 {
    margin: 0 auto;
    line-height: 1.1;
    font-size: 5.75vw;
    font-weight: 900;
    background-image: url("images/woodcolor.jpg");
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.about-me-container {
    position: relative;
    top: 5vh;
    background-color: #FE4B74;
    height: 95vh;
    max-width: 100vw;
    display: flex;
    padding: 0 10% 0 10%;
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
}

.about-me-image {
    min-width: 40%;
    max-width: 40%;
    border: 10pt solid #24252a;    
    padding: 0;
    margin: auto;
    
}

.about-me-text {
    font-size: 2vh;
    max-width: 100%;
    margin: auto;
    text-align: left;
    padding-left: 5rem;   
}

.resume-container {
    max-width: 70%;
    position: relative;
    top: 5vh;
    margin: 5% auto;
    padding: 5%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 1px  rgba(0, 0, 0, 0.5);
    color: #24252a;
}

.myname {
    font-size: 3em;
    line-height: 1;
    text-align: center;
    
}

.mytitle {
    font-size: 1.5em;
    font-weight: 400;
    color: #3d81ff;
    text-align: center;
}

.links {   
    padding: 1em 0 1em 0;
    text-align: center;
}

.link-item {
    display: inline-block;
    margin-right: 1.5em;
    transition: all 0.3s ease 0s;
}

.link-item:hover {
    color: #3d81ff;
}

.link-item img {
    display: inline-block;
    margin-right: .1em;
}

.section-title {
   margin: 0 auto;
   text-align: center;
   padding: 1.5em 0 1.5em 0;
}

.job {
    margin: 0;
    padding: 0;
}

.job:last-child {
    border-bottom: none;
}

.job-title-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.job-company {
    text-align: left;
    font-weight: bold;
}

.job-title {
    color: #3d81ff;
}

.job-location {
    font-weight: bold;
    text-align: right;
}

.job-bullets {
    text-align: left;
    margin: 0;
    padding: 0 1em 0 1em;
}

.job-bullets ul {
    padding-left: none;
}

.job-bullets li {
    padding-left: 2em;
    background-image: url(images/fingerpointer.svg);
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    background-position: top .2em left .3em;
}

.bullet-item {
    margin: 0;
    padding-top: .5em;
}

@media only screen and (min-width: 200px) {
    nav ul {
        width: 30%;
    }
}

@media only screen and (min-width: 650px) {
    nav ul {
        width: 40%;
    }
}

@media only screen and (min-width: 1024px) {
    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        height: auto;
        width: auto;
        background: none;
        display: flex;
        padding-top: 0;
    }

    nav li {
        float: left; 
        
    }

    nav ul li a {
        background: inherit;
        text-align: right;
        padding: 0;
    }

}
