@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f4f4f4;
    background-color: lightgray;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: .8em 1.2em;
    z-index: 99;
}

nav {
    background-color: black;  
}

nav ul {
    top: 0;
    right: 0;
    width: 60%;
    text-align: left;
    height: 100%;
    z-index: 99999;
    background-color: black;
    padding-top: .2em;
}

nav ul li {
    padding: 0px 20px;
}

nav ul li a {
    display: block;
    padding: 1em 2em;
    width: 100%;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 11pt;
    color: whitesmoke;
}

nav li a:hover {
    color: #3d81ff;
}

.menu {
    width: 25px;
    margin-top: 40%;
}

.exit {
    width: 2em;
    padding-top: .5em;
}

.exit-btn {
    text-align: right;
    cursor: pointer;
}

.hide-mobile {
    display: none;
}

.logosmall {
    height: 28px;
}

@media only screen and (min-width: 400px) { /* TO ADD MORE HERE FOR RESPONSIVE SIZING */
    nav ul {
        width: 30%;
    }
    .about-me-image {
        max-width: 60%;
    }
}

@media only screen and (min-width: 650px) {
    nav ul {
        width: 40%;
    }
    .about-me-image {
        max-width: 60%;
    }
}

@media only screen and (min-width: 1024px) {
    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        height: auto;
        width: auto;
        background: none;
        display: flex;
        padding-top: 0;
    }

    nav li {
        float: left; 
        
    }

    nav ul li a {
        background: inherit;
        text-align: right;
        padding: 0;
    }
}

.box {
    position: relative;
    height: 100vh;
    background-image: url('https://cwsmgmt.corsair.com/newscripts/landing-pages/wallpaper/v4/Wallpaper-v4-2560x1440.jpg');
    background-size: cover;
    background-position: center center;
}