@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');


/*Global*/
* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #f4f4f4;
    margin: 0 auto;
    background-color: lightgray;
    line-height: 1.5;
    padding-bottom: 2em;
}

.snappoint {
    position: relative;
    top: -5vh;
    scroll-snap-align: start;
}
.anchor {
    position: relative;
    top: -5vh;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    font-size: 3.75em;
}

li {
    list-style: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: .8em 1.2em;
    z-index: 99;
}

nav {
    background-color: black;
    padding-top: .2em;
}

nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    text-align: left;
    height: 100%;
    z-index: 99999;
    background-color: black;
    padding-top: .8em;
}

nav ul li {
    padding: 0 1.875em;
}

nav ul li a {
    display: block;
    padding: 1em 2em;
    width: 100%;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 11pt;
    color: whitesmoke;
}

nav li a:hover {
    color: #3d81ff;
}

.menu {
    width: 2em;
    margin-top: 20%;
}

.exit {
    width: 2em;
    padding-top: .5em;
}

.exit-btn {
    text-align: right;
    cursor: pointer;
}

.hide-mobile {
    display: none;
}

.logosmall {
    height: 2em;
}

.background-container-mobile {
    position: relative;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    background-color: black;    
}

.mobile-background {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-container { 
    position: relative;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    background-color: black; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 0 3rem;
}

.background-container h1 {
    margin: 0;
    
}

.background-container span {
    margin: 0;
    line-height: 1.1;
    font-size: 1em;
    font-weight: 900;
    background-image: url("images/color2.jpg");
    background-position: center center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    
}

.txt-type {
    border-right: solid white;
}
  
 

.hero-container {
    position: relative;
    text-align: center;
    background-color: #3d81ff;
    min-height: 95vh;
    padding-top: 1%;
    width: 100%;
}

.hero {
    position: absolute;
    width: 50%;
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 1px  rgba(0, 0, 0, 0.5);
    color: #24252a;
    
}

.hero h1 {
    padding-top: 0.2em;
    margin: 0;
    padding-bottom: 0.5em;
    line-height: 1;
}

.hero p {
    font-size: 1.2em;
    padding-bottom: 1em;
    margin: 0;
}

.about-me-container {
    position: relative;
    background-color: lightgray;
    height: 95vh;
    width: 100%;
    text-align: center;
}

.aboutme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;   
    padding: 2%;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 1px  rgba(0, 0, 0, 0.5);
    color: #24252a;
}

.aboutme-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-height: 100vh;
    padding: 2%;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 1px  rgba(0, 0, 0, 0.5);
    color: #24252a;
    text-align: left;
}

.about-me-image {
    border: 10pt solid #24252a;    
    max-width: 30%;
    height: auto; 
    display: inline-block; 
    vertical-align: middle;
}

.about-me-text {
    padding-left: 5em;
    display: inline-block;
    max-width: 60%;
    text-align: left;
    vertical-align: middle;
}

.about-me-text-mobile {
    padding: 0 1em 0.5em 1.2em;
    
}

.aboutmeheader {
    color: #3d81ff;
    font-size: 1.5em;
    padding: 0;
}

.aboutmecontent {
    padding-bottom: 0.5em;
}

.resume-container {
    top: 5vh;
    background-color: lightgray;
    padding-top: 4em;
    padding-bottom: 4em;
    max-width: 100%;
    scroll-snap-type: none;
}

.resume { 
    max-width: 65%;
    margin: 0 auto;
    padding: 5%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px 1px  rgba(0, 0, 0, 0.5);
    color: #24252a;
    scroll-snap-type: none;
}

.myname {
    font-size: 3em;
    line-height: 1;
    text-align: center;
}

.mytitle {
    font-size: 1.5em;
    font-weight: 400;
    color: #3d81ff;
    text-align: center;
}

.links {   
    padding: 1em 0 0 0;
    text-align: center;
}

#profile {
    margin: 0;
    padding: 1.5em 0 1em 0;
}

#experience {
    margin: 0;
    padding: 1em 0 1.5em 0;
}

.mobile-links {
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.link-item {
    display: inline-block;
    margin-right: 1.5em;
    transition: all 0.3s ease 0s;
}

.link-item:hover {
    color: #3d81ff;
}

.link-item img {
    display: inline-block;
    margin-right: .1em;
}

.section-title {
   margin: 0 auto;
   text-align: center;
   padding: 1em 0 1em 0;
}

.section-img {
    max-width: 100%;
}

.job {
    margin: 0;
    padding: 0;
}

.job-title-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.job-company {
    text-align: left;
    font-weight: bold;
}

.job-title {
    color: #3d81ff;
}

.job-location {
    font-weight: bold;
    text-align: right;
}

.job-length {
    text-align: right;
}

.job-bullets {
    text-align: left;
    margin: 0;
    padding: 0 1em 0 1em;
}

.job-bullets ul {
    padding-left: none;
}

.job-bullets li {
    padding-left: 2em;
    padding-bottom: 0.2em;
    background-image: url(images/fingerpointer.svg);
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    background-position: top .2em left .3em;
}

.bullet-item {
    margin: 0;
    padding: 0;
}

#contactformcontainer {
    height: 100%;
}

#contactform {
    padding: 2em;
}

form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}

#contactformheader {
    padding-bottom: 0.5em;
}

#contactformmessage {
    padding-bottom: 1.5em;
    font-size: 1.5em;
}

.input-labels {
    text-align: left;
}

input[type=text], select {
    width: 100%;
    font-size: 1em;
    color: #24252a;
    padding: 0.5em;
    border: 1px solid #3d81ff; 
    border-radius: 5px; 
    box-sizing: border-box;
    resize: vertical; 
    margin-bottom: 1.2em;
    display: inline-block;
}

textarea {
    width: 100%;
    font-size: 1em;
    color: #24252a;
    padding: 0.5em;
    border: 1px solid #3d81ff; 
    border-radius: 5px; 
    box-sizing: border-box;
    resize: vertical; 
    display: inline-block;
}


input[type=submit] {
    background-color: #3d81ff;
    color: whitesmoke;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  footer {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #3d81ff;
}

.captchacontainer {
    text-align: center;
}

#captcha {
    display: inline-block;
}

@media screen and (orientation: landscape) {
    body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll; 
    }

    nav ul {
        width: 35%;
        z-index: 99999;
    }

    h1 {
        font-size: 3em;
    }

    .logosmall {
        margin-top: .5%;
    }

    .about-me-desktop{
        display: none;
    }
    
    .resume-container {
        display: none;
    }

    .background-container {
        display: none;
    }

    .about-me-desktop {
        display: none;
    }

    .about-me-image {
        display: none;
    }    

    .aboutmeheader {
        text-align: center;
    }

    .hero {
        width: 95%;
    }

    .resume-hero {
        display: none;
    }

    #lets-chat {
        display: none;
    }
}
}

@media only screen and (min-width: 375px) {

    body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    }

    nav ul {
        width: 35%;
        z-index: 99999;

    }

    h1 {
        font-size: 3em;
    }

    .logosmall {
        margin-top: .5%;
    }

    .about-me-desktop{
        display: none;
    }
    
    .resume-container {
        display: none;
    }

    .background-container {
        display: none;
    }

    .about-me-desktop {
        display: none;
    }

    .about-me-image {
        display: none;
    }    

    .aboutmeheader {
        text-align: center;
    }

    .hero {
        width: 95%;
    }

    .resume-hero {
        display: none;
    }

    #lets-chat {
        display: none;
    }
}

@media only screen and (min-width: 650px) {
    body {
        scroll-snap-type: none;
        overflow-y: scroll;
        }

    h1 {
        font-size: 4em;
    }

    .show-desktop {
        display: block;
    }

    .about-me-mobile {
        display: none;
    }

    .about-me-desktop {
        display: block;
    }

    .about-me-image {
        display: inline-block;
    }

    .about-me-text {
        display: inline-block;
    }

    .aboutmeheader {
        text-align: left;
    }

    .hide-desktop {
        display: none;
    }

    .background-container-mobile {
        display: none;
    }

    .background-container {
        display: block;
    }

    nav ul {
        position: inherit;
        height: auto;
        width: auto;
        background: none;
        display: flex;
        padding-top: 1%;
    }

    nav li {
        float: left; 
        
    }

    nav ul li a {
        background: inherit;
        text-align: right;
        padding: 0;
    }

    .logosmall{
        margin-top: 0.1%;
    }

    .hero {
        width: 50%;

    }
    .resume-container {
        display: block;
    
        
    }
    
    .resume-hero {
        display: block;
    }

    .links-hero {
        display: none;
    }

    #lets-chat{
        display: block;
    }
 }


@media only screen and (min-width: 1024px) {
    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .background-container-mobile {
        display: none;
    }

    .background-container {
        display: inherit;
    }

    nav ul {
        position: inherit;
        height: auto;
        width: auto;
        background: none;
        display: flex;
        padding-top: 1%;
    }

    nav li {
        float: left; 
        
    }

    nav ul li a {
        background: inherit;
        text-align: right;
        padding: 0;
    }

    .logosmall{
        margin-top: 0.1%;
    }

    .resume-container {
        display: block;
    }
}

 

@media only screen and (min-width: 2000px) {
    .aboutmecontent {
        padding-bottom: 3em;
    }

    .resume {
        width: 60%;
    }
}

